body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#colorBox {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #000;
  margin: 20px 0;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color-option {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-option:hover {
  transform: scale(1.2);
}

.color-option:active {
  transform: scale(1.1);
}

.new-game-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: transform 0.2s ease-in-out;
}

.new-game-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.new-game-button:active {
  background-color: #000ff0;
  transform: scale(1);
}


@media (max-width: 768px) {
  .game-container {
    width: 90%;
    padding: 15px;
  }

  #colorBox {
    width: 150px;
    height: 120px;
  }

  .color-option {
    width: 80px;
    height: 50px;
  }

  .new-game-button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .game-container {
    width: 95%;
    padding: 10px;
  }

  #colorBox {
    width: 120px;
    height: 100px;
  }

  .color-option {
    width: 70px;
    height: 40px;
  }

  .new-game-button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
}
